.categoryFavorites {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-left: 5px;
  padding: 10px;
  width: 100%;
}

.copy {
  color: #05172c;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  font-weight: 800;
  justify-content: center;
  padding: 5px;
  width: 100%;
}

.categoryFavorites button {
  background-color: #ecffef;
  border: #299936 2px solid;
  border-radius: 5px;
  box-shadow: var(--shadow-1);
  color: #05172c;
  cursor: pointer;
  display: inline-block;
  flex: 15%;
  flex-basis: 80px;
  font-size: 1rem;
  letter-spacing: var(--letterSpacing);
  margin-right: 1rem;
  max-width: 15ch;
  overflow: hidden;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-transform: capitalize;
  width: 15px;
}

.searchCards-containerZ {
  display: flex;
  flex-wrap: wrap;
  gap: 10px , 10px;
  justify-content: center;
}

.searchCards-containerZ div {
  border: 2px solid #0c5314;
  color: #299936;
  margin: 15px;
  padding: 15px;
}

.searchCards-containerZ img {
  border: 1px solid #299936;
}

.searchCards-containerZ div p {
  margin-left: 20px;
  max-width: 15ch;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
